@media (max-width:1300px) { /*Responsivo para o header mobile*/
    body{
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
    }
    .home{
      width: 100%;
      height: 100%;
    }
    .hero{
      height: 100%;
      width: 100%;
    }
    .hamburguer{
        display: block;/*quando a largora maxima for atingida o hamburguer será exibido substituindo o menu pc*/
    }
    .menu{
        position: absolute;
        background-color: rgb(185, 185, 185);
        right: 0%;
        top: 18vh;
        height: 35vh;
        width: 60%;
        z-index: 100;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
    }
    .menu li{
      margin-bottom: 2rem;
      margin-left: 3.5rem;
    }
    .menu a{
      color: white;
    }
    .mostre-menu .menu{
        opacity: 1;
        visibility: visible;
      }
}
@media (max-width:999px) { /*Responsivo do resto da pagina*/
    .todos-produtos{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }