
.sessao-perfil{
    height: 82vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
.perfil{
    position: absolute;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 100%;
    width: 75%;
}
.perfil-content{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.perfil-header .menu-perfil{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.perfil-header .menu-perfil i{
    color: #bbbbbb;
    font-size: 1.9rem;
    transition: .3s;
}
.perfil-header .menu-perfil li a{
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: .3s;
}
.perfil-header .menu-perfil li a:hover{
    color: rgb(156, 157, 250);
}
.perfil-header .menu-perfil li i:hover{
    color: rgb(156, 157, 250);
}
.img-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 25rem;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 30px;
}
.img-perfil .icon-user{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    color: #bbbbbb;
    font-size: 12rem;
    border-radius: 30px 30px 0 0;
}/*estilização visual do icone de usuário*/
.information-user{
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 100%;
    border-radius: 0 0 30px 30px;
}
.information-user div{
    margin-top: 1rem;
    margin-left: .5rem;
}
.information-user div h1{
    font-size: 1.5rem;
}
.information-user div h3{
    margin-top: .5rem;
    font-size: 1.1rem;
}
.information-user i{
    color: rgb(181, 184, 42);
    font-size: 1.3rem;
}
.info-user li{
    padding: .5rem 0;
    font-weight: 600;
}
.txt-perfil{
    padding: 3.5rem 0;
    height: 50%;
    width: 100%;
}
.txt-perfil h1{
    color: rgb(78, 134, 253);
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.txt-perfil p{
    font-size: 1.4rem;
}
.buttons-perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons-perfil button{
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: .3s;
}
.buttons-perfil button:nth-child(1){
    background-color: rgb(236, 96, 96);
    color: #ffff;
}
.buttons-perfil button:nth-child(2){
    background-color: transparent;
    border: 2px solid rgb(236, 96, 96);
    color: rgb(236, 96, 96);
}
.buttons-perfil button:hover{
    background-color: rgb(173, 72, 72);
}
.buttons-perfil button:nth-child(2):hover{
    background-color: rgb(173, 72, 72);
    border: rgb(163, 68, 68);
    color: white;
}
.buttons-perfil i{
    background-color: #3f85c6;
    color: white;
    padding: .5rem;
    border-radius: 50%;
    margin-left: 1rem;
    font-size: 1.1rem;
    transition: .3s;
    cursor: pointer;
}
.buttons-perfil i:hover{
    background-color: #32689b;
}
/*sessao-publicação*/
.sessao-tittle i:hover{
    background-color: aqua;
}
.sessao-publicações{
    height: 120vh;
    width: 100%;
    margin-bottom: 5rem;
}
.publicações{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.publicação{
    cursor: pointer;
    position: relative;
    border-radius: 5%;
    background-color: rgb(184, 184, 184);
    height: 40%;
    width: 29%;
    margin: 1rem 1rem;
    transition: .3s;
    border: 1px solid grey;
}
.publicação img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}
.publicação:hover{
    transform: scale(1.2);
    z-index: 100;
    margin: 0 3rem;
    opacity: .82;
}
.bnt-public{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.bnt-public i{
    color: #ffff;
    font-size: 3.5rem;
    padding: 0 1rem;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    text-shadow: 2px 2px 1px black;
    cursor: pointer;
}
.publicação:hover .bnt-public i{
    opacity: 1;
    visibility: visible;
}
/*recomendados*/

/*.sessao-recomendados{
    height: 80vh;
    width: 100%;
}
.perfis-empresas{
    background-color: #ececec;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.perfil-empresa{
    color: rgb(36, 36, 36);
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-perfil-empresa{
    height: 65%;
    width: 65%;
    border-radius: 50%;
}
.img-perfil-empresa img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.txt-perfil-empresa{
    padding: .4rem 2rem;
}*/